.chord {
  background-color: #ffffff;
  display: inline-block; border: 1px inset;
  width: 100%;
  padding: 2px;
}

.chordInner {
  background-color: #cacaca;
  float: right;
  display:table-cell; padding: 5px; border: 1px solid
}

/* receipe found here: https://stackoverflow.com/questions/12813573/position-icons-into-circle */
.circle-container {
  position: relative;
  width: 15em;
  height: 15em;
  padding: 2.8em;
  /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
  border: dashed 2px;
  border-radius: 50%;
  margin: 1.75em auto 0;
}

.circle-note {
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  width: 2.5em; height: 2.5em;
  margin: -1.2em;
  border-radius: 50%;
  background-color: #00ffff;
  text-align: center;
}

body {
  background-color: #394e6b !important;
}

.title {
  margin-top: 0px;
}

.deg0 { transform: translate(8.8em); } 
.deg30 { transform: rotate(30deg) translate(8.8em) rotate(-30deg); }
.deg60 { transform: rotate(60deg) translate(8.8em) rotate(-60deg); }
.deg90 { transform: rotate(90deg) translate(8.8em) rotate(-90deg); }
.deg120 { transform: rotate(120deg) translate(8.8em) rotate(-120deg); }
.deg150 { transform: rotate(150deg) translate(8.8em) rotate(-150deg); }
.deg180 { transform: rotate(180deg) translate(8.8em) rotate(-180deg); }
.deg180 { transform: rotate(180deg) translate(8.8em) rotate(-180deg); }
.deg210 { transform: rotate(210deg) translate(8.8em) rotate(-210deg); }
.deg240 { transform: rotate(240deg) translate(8.8em) rotate(-240deg); }
.deg270 { transform: rotate(270deg) translate(8.8em) rotate(-270deg); }
.deg300 { transform: rotate(300deg) translate(8.8em) rotate(-300deg); }
.deg330 { transform: rotate(330deg) translate(8.8em) rotate(-330deg); }

.deg0m { transform: translate(6em); } 
.deg30m { transform: rotate(30deg) translate(6em) rotate(-30deg); }
.deg60m { transform: rotate(60deg) translate(6em) rotate(-60deg); }
.deg90m { transform: rotate(90deg) translate(6em) rotate(-90deg); }
.deg120m { transform: rotate(120deg) translate(6em) rotate(-120deg); }
.deg150m { transform: rotate(150deg) translate(6em) rotate(-150deg); }
.deg180m { transform: rotate(180deg) translate(6em) rotate(-180deg); }
.deg180m { transform: rotate(180deg) translate(6em) rotate(-180deg); }
.deg210m { transform: rotate(210deg) translate(6em) rotate(-210deg); }
.deg240m { transform: rotate(240deg) translate(6em) rotate(-240deg); }
.deg270m { transform: rotate(270deg) translate(6em) rotate(-270deg); }
.deg300m { transform: rotate(300deg) translate(6em) rotate(-300deg); }
.deg330m { transform: rotate(330deg) translate(6em) rotate(-330deg); }